<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.member}">회원 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'회원가입 완료'"></h2>

    <div>
        <label for="memberId" th:text="#{member.id}">회원 번호</label>
        <input type="text" id="memberId" name="memberId" class="form-control" value="1" th:value="${member.id}" readonly>
    </div>
    <div>
        <label for="name" th:text="#{member.name}">닉네임</label>
        <input type="text" id="name" name="name" class="form-control" th:value="${member.name}" readonly>
    </div>
    <div>
        <label for="memberEmail" th:text="#{member.email}">이메일 주소</label>
        <input type="text" id="memberEmail" name="memberEmail" class="form-control" th:value="${member.memberEmail}" readonly>
    </div>
    <div>
        <label for="password" th:text="#{member.password}">비밀번호</label>
        <input type="password" id="password" name="password" class="form-control" th:value="${member.password}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/member/update}'|"
                    type="button" th:text="#{member.update}">회원 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/member/login}'|"
                    type="button" th:text="#{member.login}">로그인 하기</button>
        </div>
    </div>

</div>
</body>
</html>